$font-family-serif: "Gloock";
$font-family-sans-serif: "Instrument Sans";
$primary: #2c73d2;
$light: #fff;
$light-blue: #c4dcff;
$font-family-base: $font-family-sans-serif;
$display-font-family: $font-family-serif;
$navbar-nav-link-padding-x: 1.5rem;
$navbar-light-color: $primary;

@import "../node_modules/bootstrap/scss/bootstrap";

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

.nav-link:hover {
  color: $primary !important;
}

#home {
  background-color: $light-blue;
}

#follower {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: $primary;
  filter: blur(5rem);
}

#arrow:hover {
  animation: move-down 300ms ease-out forwards;
}

.project-button {
  width: 100%;
  border-radius: 0.8rem;
}

.button-overlay {
  background-image: linear-gradient(transparent, $primary);
  pointer-events: none;
}

.project-image {
  pointer-events: none;
}

#modal_top_wrapper {
  background-image: linear-gradient($primary, $light-blue);
}

// animation

@keyframes move-down {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(50%);
  }
}

// breakpoints

@include media-breakpoint-up(md) {
  .project-button {
    width: 50vw;
  }
}
