$font-family-serif: "Gloock";
$font-family-sans-serif: "Instrument Sans";
$primary: #2c73d2;
$light-blue: #c4dcff;
$font-family-base: $font-family-sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";
